/*
type
{
	color : red ;
	font size : 130%;
} 
.class 

and 

#id

*/
window#kbc_intro,#audience_vote,#main_window,#end_game
{
	border-image :none;
	background-image: none;
	border : 1px solid #08000d;
	border-radius: 10px;
	background-color : #08000d;
	color : white;
}
window#about_devs
{	

	border-image :none;
	background-image: none;
	border : 1px solid #08000d;
	border-radius: 10px;
	background-color : #392250;
	color : white;
}
window#instructions
{
	
	border-image :none;
	background-image: none;
	border : 1px solid #08000d;
	border-radius: 10px;
	background-color : #160122;
	color : white;
}

button#instruction_ok
{
	color : white;
	background-color:#10001d; 
	opacity: 0.6;
	border-image :none;
	background-image: none;
	border:2px solid #10001d;
	border-radius:10px;
}
button#about_devs_ok
{
	color: white;
	opacity: 0.6;
	background-color:#392250;
	border-image : none;
	background-image: none;
	border:2px solid #392250;
	border-radius:10px;
}
button#instruction_ok:hover,#about_devs_ok:hover
{
	transition: 1000ms;
	opacity : 0.5;
	background-color : green;
	color : white;
}
button#option_1,#option_2,#option_3,#option_4
{

	color: white;
	opacity: 1;
	border-image: none;
	background-image: none;
	background-color: #08000d;
	border : 3px solid #5581ae;
	border-radius: 100px;
}
button#option_1__,#option_2__,#option_3__,#option_4__
{

	color: white;
	opacity: 1;
	border-image: none;
	background-image: none;
	background-color: #08000d;
	border : 3px solid #5581ae;
	border-radius: 100px;
}
button#option_1_,#option_2_,#option_3_,#option_4_
{
	color: white;
	opacity: 0.2;
	border-image: none;
	background-image: none;
	background-color: #08000d;
	border : 3px solid #5581ae;
	border-radius: 100px;
}
button#option_1:hover,#option_2:hover,#option_3:hover,#option_4:hover
{
	transition: 3000ms;
	background-color : green;
	color : white;
}
button#option_1:active,#option_2:active,#option_3:active,#option_4:active
{
	
	background-color: red;
	transition: 2ms;
}
/*button#option_1__:hover,#option_2__:hover,#option_3__:hover,#option_4__:hover
{
	transition: 3000ms;
	background-color : green;
	color : white;
}*/
button#button_50_50,#audience_vote,#phone_a_friend,#joker
{

	opacity: 1;
	border-image: none;
	background-image: none;
	background-color: #08000d;
	border : 1px solid #5581ae;
	border-radius: 10px;
}
button#button_50_50:hover,#audience_vote:hover,#phone_a_friend:hover,#joker:hover
{
	transition: 1000ms;
	background-color : #1c0031;	
}

button#joker_,#phone_a_friend_,#audience_vote_,#button_50_50_
{
	opacity: 1;
	border-image: none;
	background-image: none;
	background-color: #08000d;
	border : 1px solid #5581ae;
	border-radius: 10px;
}

button#exit,#restart
{
	color: white;
	opacity: 1;
	border-image: none;
	background-image: none;
	background-color: #08000d;
	border : 3px solid #5581ae;
	border-radius: 100px;
}
button#exit:hover,#restart:hover
{
	transition: 3000ms;
	background-color : #392250;
	color : white;
}

button#exit_button{
	border-image: none;
	background-image: none;
	border : 1px solid red;
	color :white;
	background-color: #08000d;
	border-radius: 5px;
}
button#exit_button:hover{
	transition: 1000ms;
	background-color : red;
	opacity: 0.5;
	color : white;
}

progressbar progress{
	background-color: #5581ae;
	color: #08000d;
	border-radius: 50px;
	border : 0px;
}
progressbar progress:active{
	background-color: #5581ae;
	color: #08000d;
	border-radius: 50px;
	border : 0px;
}

